* {
  font-family: "IBM Plex", "Helvetica", sans-serif;
}

#mainContainer {
  display: grid;
  grid-gap: 10px;
}

.main-index {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 100px);
}

.tickets-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 100px);
}

#ticketsButtons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 50px);
  margin-bottom: 10px;
}

.tickets-21 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 100px);
}

.tickets-100 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 100px);
}

.item {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  border: solid 1px black;
}

.item-noclick {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  border: solid 1px black;
}

.grey {
  color: white;
  font-weight: bold;
  background-color: grey;
}

.hidden {
  display: none;
}

.info {
  text-align: center;
}

#instructions {
  font-weight: 100;
}
#instructions span {
  font-size: 16px;
}

.number {
  font-size: 26px;
  font-weight: 900;
}

.bottomDivs {
	text-align: center;
	width: 50%;
	margin: auto;
}

#statsDiv {
	font-size: 20px;
}

#resetBtn {
	margin-top: 10px;
	margin-bottom: 20px;
	border: solid 5px blue;
  border-radius: 20px;
}

#resetBtn:hover {
	background-color: #cccccc;
}

span {
	font-weight: bold;
}

.winner {
  background-color: gold;
}

.winner-span {
  color: darkgreen;
  font-weight: bold;
  font-size: 24px;
}
